footer {
  background: rgb(194, 195, 34);
  background: linear-gradient(
    0deg,
    rgba(194, 195, 34, 1) 0%,
    rgba(172, 201, 61, 1) 100%
  );
  color: white;
}
.form-control{
    border-radius: 0px !important;
}
.btn-gradd {
    background-image: linear-gradient(
      to right,
      #16a085 0%,
      #f4d03f 51%,
      #16a085 100%
    );
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    font-size: 14px ;
    padding: 10px 30px;
  }
  
  .btn-gradd:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }