.header {
  background-color: #201d47;
}
.header-nav {
  text-decoration: none;

  box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  font-family: auto;
  font-size: 15.5px;
}
.display-header {
  display: flex;
  flex-direction: row;
}

.display-header a {
  margin: 0px 20px;
}

.glowCoin {
  position: absolute;
  opacity: 0;
  top: 25px;
  margin-left: 15px;
}

.hover-coin:hover > .coin-logo {
  opacity: 0;
}

.hover-coin:hover > .glowCoin {
  margin: 0;
  height: 90px;
  opacity: 1;
  transition: 0.3s linear;
  top: 0;
}
.header-nav a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
.coin-logo p {
  margin: 0px;
}
.coin-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-nav button {
  text-decoration: none;
  font-weight: 500;

  border-radius: 25px;
  color: #ffffff;
  background: #58acff;
  border: none;
  padding: 5px 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #201d47;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #ffffff;
  font-weight: 500;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.drop-btn1 {
  min-width: 160px;
}

.dropdown-content a:hover {
  background-color: #201d47;
}

.dropbtn:hover .dropdown-content {
  z-index: 3;
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #201d47;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #201d47;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content1 a {
  z-index: 3;
  color: #ffffff;
  font-weight: 500;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-content1 a:hover {
  background-color: #201d47;
}

.dropbtn1:hover .dropdown-content1 {
  display: block;
  z-index: 3;
}

.header-nav-sml {
  display: none;
}
.header-nav-sml a {
  font-weight: 500;

  background-color: #201d47;
  text-decoration: none;
  padding: 15px 0px;
}
.dropbtn img {
  margin-right: 10px;
  margin-bottom: 2px;
}
.dropbtn1 img {
  margin-bottom: 2px;
  margin-right: 10px;
}
.dropbtn svg {
  margin-left: 10px;
}
.dropbtn1 svg {
  margin-left: 10px;
}

.menu-btn svg {
  text-decoration: none;
  color: white;
}
.logo-head {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.slides {
  width: 50%;
  position: absolute;
  top: 100px;
  left: 48%;
  background-color: #201d47;
  z-index: 10;
  display: none;
}
.slide-down {
  background-color: #201d47;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-content svg {
  padding-bottom: 3px;
  margin-right: 10px;
}

.slide-down-1 {
  cursor: pointer;
  background-color: #201d47;
  height: 50px;
  color: white;
  border-bottom: 1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-links-1 svg {
  position: absolute;
  color: #ffffff;
  left: 10px;
}
.nav-links-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-links-2 svg {
  position: absolute;
  color: #ffffff;
  left: 10px;
}
.font-style-header {
  font-family: Cinzel;
}
.slide-down-1 p {
  margin-bottom: 0px;
  color: #ffffff;
}
.slide-down p {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 11.3px;

  white-space: break-spaces;
  width: 100px;
}
.slide-down a {
  font-weight: 500;
  text-decoration: none;
}
.slide-down:hover {
  background-color: #201d47;
}

.slide-down:hover .dropdown-content {
  display: block;
  width: 40%;
  position: absolute;
  top: 150px;
  background-color: #201d47;
  color: #ffffff;
  z-index: 3;
  right: 100%;
}

.slide-down:hover {
  background-color: #201d47;
}

.slide-down:hover .dropdown-content1 {
  display: block;
  width: 40%;
  position: absolute;
  top: 200px;
  background-color: #201d47;
  color: #1c1e21;
  right: 100%;
  z-index: 3;
}
.slide-down-1 {
  background-color: #201d47;
  font-weight: 1000;
}
.header-price-button-style {
  border-radius: 25px !important;
  color: white !important;
  width: 120px !important;
  height: 40px !important;
  border: 1px solid #58acff !important;
  text-align: center !important;
  background: transparent !important;
}
.header-price-button-style:hover {
  background-color: #58acff !important;
}

@media only screen and (max-width: 900px) {
  .header-nav {
    display: none;
  }
  .header-nav-sml {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;

    text-decoration: none;
    padding-top: 10px;
  }
  .dropdown-content img {
    margin-right: 10px !important;
    margin-top: 3px;
  }
  .dropdown-content a {
    display: flex;
  }
  .dropdown-content1 img {
    margin-right: 10px !important;
  }
  .dropdown-content1 a {
    display: flex;
  }
  .header-price-button-style-resp {
    background: transparent;
    border: none;
    color: white;
    text-align: center;
  }
  .menu-btn svg {
    text-decoration: none;
    color: white;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .slides {
    width: 40%;
    position: absolute;
    top: 100px;
    background-color: #201d47;
    z-index: 10;
    display: none !important;
    right: 10%;
  }
}
